[v-cloak],
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.hidden-xs {
  display: none;

  @media only screen and (min-width:768px) {
    display: inherit
  }
}

.hidden-lg {
  display: none;

  @media only screen and (min-width:992px) {
    display: inherit
  }
}

.hidden-md {
  @media only screen and (min-width:768px) {
    display: none;
  }
}

@media only screen and (min-width:768px) {
  .visible-xs {
    display: none;
  }
}

@media (min-width: 992px) {
  .visible-lg {
    display: inherit;
  }

  .hidden-lg {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
