<template>
  <component
    :is="compontentType"
    :type="!link ? type : false"
    :to="redirectionLink"
    class="btn-full"
    :class="{ 'no-underline pointer align-center border-box': link, 'disabled': disabled, 'button-disabled': disabled }"
    data-testid="subscribeSubmit"
    :disabled="disabled"
  >
    <slot>
      Button
    </slot>
  </component>
</template>

<script>
import focusClean from 'theme/components/theme/directives/focusClean'
export default {
  name: 'ButtonFull',
  directives: { focusClean },
  props: {
    type: {
      type: String,
      required: false,
      default: 'button'
    },
    link: {
      type: Object,
      required: false,
      default: null
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    compontentType () {
      return this.link ? 'router-link' : 'button'
    },
    redirectionLink () {
      return this.link ? this.localizedRoute(this.link) : null
    }
  }
}
</script>

<style lang="scss" scoped>
.disabled {
  background-color: gray;
  border-color: gray;
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.btn-full {
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  color: $white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  svg,
  img {
    width: 20px;
  }

  svg {
    path,
    circle {
      transition: all 0.5s ease 0s;
    }
  }

  &:hover {
    color: $white;
    background-color: $color-secondary;
    border-color: transparent;
    opacity: 0.6;

    svg {
      path {
        stroke: $white;
      }

      circle {
        fill: $white;
      }
    }
  }
}
</style>
