<template>
  <div class="categories">
    <div
      class="categories__handler"
    >
      <h4 class="categories__heading">
        {{ $t('Filter by categories') }}
      </h4>

      <template v-for="category in categories">
        <button
          :key="category.category_id"
          class="categories__button no-outline bg-cl-transparent py10 px20"
          :class="{ 'categories__button--active': value.includes(category.category_id) }"
          type="button"
          @click="toggleCategory(category)"
        >
          {{ category.name }}
        </button>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  methods: {
    toggleCategory (category) {
      const isSelected = this.value.includes(category.category_id)
      if (isSelected) {
        this.$emit('input', this.value.filter(categoryId => categoryId !== category.category_id))
      } else {
        this.$emit('input', [...this.value, category.category_id])
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$gray-E5E5E5: color(gray-E5E5E5);
$color-secondary: color(secondary);
$white: color(white);

.categories {
  &__heading {
    width: 100%;
  }

  &__handler {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    font-size: 12px;
    font-weight: 500;
    color: $gray-666666;
    border: 1px solid $gray-E5E5E5;
    background-color: transparent;
    border-radius: 18px;
    padding: 8px 20px;
    line-height: 1.5;
    margin: 0 20px 10px 0;
    transition: all 0.5s ease 0s;

    &:hover,
    &--active {
      background-color: $color-secondary;
      color: $white;
      border-color: $color-secondary;
    }
  }

  &__button-text {
    display: block;
    margin-right: 15px;
  }

}
</style>
