<template>
  <div class="account-newsletter account-block shaded-box">
    <!-- My newsletter header -->
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5">
          {{ $t('Newsletter') }}
        </h3>
        <p class="f-s-15 cl-gray-666666">
          {{ $t('General agreement for receive the newsletter updates') }}
        </p>
      </div>
    </div>

    <!-- My newsletter body (both modes) -->
    <div class="profile-br-box p40">
      <h4 class="mb15">
        {{ $t('Subscribe Newsletter') }}
      </h4>
      <base-checkbox
        class="cl-primary check-slide mb20"
        id="generalAgreement"
        v-model="user.isSubscribed"
        @click="edit()"
      />
      <p class="f-s-15 cl-gray-666666">
        {{ $t('You are subscribed now our Newslatter') }}
      </p>
      <div class="">
        <button-full @click.native="updateNewsletter">
          {{ $t('Update my preferences') }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { Newsletter } from '@vue-storefront/core/modules/newsletter/components/Newsletter'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    ButtonFull,
    BaseCheckbox
  },
  data () {
    return {
    }
  },
  methods: {
    edit () {
      this.isEdited = true
    },
    async updateNewsletter () {
      if (this.user.isSubscribed) {
        const isSubscribed = await this.$store.dispatch('newsletter/subscribe', this.email)

        if (isSubscribed) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t('You have been successfully subscribed to our newsletter!'),
            action1: { label: i18n.t('OK') }
          })
        }
        return
      }

      const isUnsubscribed = await this.$store.dispatch('newsletter/unsubscribe', this.email)
      if (isUnsubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully unsubscribed from our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      }
    }
  },
  mixins: [Newsletter]
}
</script>
