<template>
  <div class="account-block shaded-box" v-if="order">
    <!-- My orders header -->
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5">
          {{ $t('My orders') }}
        </h3>
        <p class="f-s-15 cl-gray-666666">
          {{ $t('Lorem Ipsum is simply dummy text of the printing and typesetting industry.') }}
        </p>
      </div>
    </div>
    <div class="order-details order-info">
      <!-- My order header -->
      <div class="flex flex-wrap middle-xs top-row px40 py15">
        <return-icon class="p12 icon pointer" />
        <h3 class="m0 flex middle-xs pl5">
          {{ $t('Order #{id}', { id: order.increment_id }) }}
        </h3>
        <span class="brdr-1 brdr-cl-bg-blue-7FA3DF py5 px15 ml15 f-s-12 weight-400 cl-blue-7FA3DF bl-cl-blue-F2F4F7 order-status-pill">
          {{ order.status | capitalize }}
        </span>
      </div>
      <!-- My order body -->
      <div class="px40 pt35 review-order-body">
        <p class="f-s-14 cl-gray-666666 mb25 review-order-date">{{ order.created_at | date('LLL', storeView) }}</p>
        <p class="mb35 remake-order-link">
          <a href="#" class="f-s-18 cl-blue-7FA3DF weight-600" @click.prevent="remakeOrder(singleOrderItems)">{{ $t('Remake order') }}</a>
        </p>
        <h4 class="weight-400 f-s-16 cl-gray-666666 mb30 itemes-ordered-title">{{ $t('Items ordered') }}</h4>
        <div class="brdr-1 brdr-cl-gray-DDDDDD order-table order-review-table">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th colspan="2" class="serif lh20">
                    {{ $t('Product Name') }}
                  </th>
                  <th class="serif lh20">
                    {{ $t('SKU') }}
                  </th>
                  <th class="serif lh20">
                    {{ $t('Price') }}
                  </th>
                  <th class="serif lh20">
                    {{ $t('Qty') }}
                  </th>
                  <th class="serif lh20">
                    {{ $t('Subtotal') }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="brdr-top-1 brdr-cl-gray-DDDDDD" v-for="item in singleOrderItems" :key="item.item_id">
                  <td class="fs-medium lh25 product-img">
                    <product-image :image="{src: itemThumbnail[item.sku]}" />
                  </td>
                  <td class="fs-medium lh25">
                    <label class="visible-xs">{{ $t('Product Name') }}</label>
                    {{ item.name }}
                  </td>
                  <td class="fs-medium lh25">
                    <label class="visible-xs">{{ $t('SKU') }}</label>
                    {{ item.sku }}
                  </td>
                  <td class="fs-medium lh25">
                    <label class="visible-xs">{{ $t('Price') }}</label>
                    {{ item.price_incl_tax | price(storeView) }}
                  </td>
                  <td class="fs-medium lh25 align-right">
                    <label class="visible-xs">{{ $t('Qty') }}</label>
                    {{ item.qty_ordered }}
                  </td>
                  <td class="fs-medium lh25">
                    <label class="visible-xs">{{ $t('Subtotal') }}</label>
                    {{ item.row_total_incl_tax | price(storeView) }}
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="brdr-top-1 brdr-cl-gray-DDDDDD">
                  <td colspan="5" class="align-right">
                    {{ $t('Subtotal') }}
                  </td>
                  <td>{{ order.subtotal | price(storeView) }}</td>
                </tr>
                <tr>
                  <td colspan="5" class="align-right">
                    {{ $t('Shipping') }}
                  </td>
                  <td>{{ order.shipping_amount | price(storeView) }}</td>
                </tr>
                <tr>
                  <td colspan="5" class="align-right">
                    {{ $t('Tax') }}
                  </td>
                  <td>{{ order.tax_amount + order.discount_tax_compensation_amount | price(storeView) }}</td>
                </tr>
                <tr v-if="order.discount_amount">
                  <td colspan="5" class="align-right">
                    {{ $t('Discount') }}
                  </td>
                  <td>{{ order.discount_amount | price(storeView) }}</td>
                </tr>
                <tr>
                  <td colspan="5" class="align-right weight-600 cl-black">
                    {{ $t('Grand total') }}
                  </td>
                  <td>{{ order.grand_total | price(storeView) }}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="order-address">
        <div class="">
          <h4 class="cl-gray-222222">{{ $t('Order information') }}</h4>
          <div class="row">
            <div class="col-xs-12 col-xl-6">
              <div class="flex between-xs shipping-block">
                <div class="shipping-address" v-if="shippingAddress">
                  <h5>{{ $t('Shipping address') }}</h5>
                  <address>
                    <p>{{ shippingAddress.firstname }} {{ shippingAddress.lastname }}</p>
                    <p>{{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }}</p>
                    <p>{{ shippingAddress.postcode }} {{ shippingAddress.city }}</p>
                    <p>{{ shippingAddress.country }}</p>
                  </address>
                </div>
                <div class="shipping-method" v-if="order.shipping_description">
                  <h5>{{ $t('Shipping method') }}</h5>
                  <p>{{ order.shipping_description }}</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-xl-6">
              <div class="flex between-xs billing-block">
                <div class="billing-address">
                  <h5>{{ $t('Billing address') }}</h5>
                  <address>
                    <p>{{ billingAddress.firstname }} {{ billingAddress.lastname }}</p>
                    <p>{{ billingAddress.street[0] }} {{ billingAddress.street[1] }}</p>
                    <p>{{ billingAddress.postcode }} {{ billingAddress.city }}</p>
                    <p>{{ billingAddress.country }}</p>
                  </address>
                </div>
                <div class="payment-method">
                  <h5>{{ $t('Payment method') }}</h5>
                  <p>{{ paymentMethod }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder'
import ReturnIcon from 'theme/components/core/blocks/Header/ReturnIcon'
import ProductImage from 'theme/components/core/ProductImage'
import { getThumbnailPath, productThumbnailPath } from '@vue-storefront/core/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapActions } from 'vuex'

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data () {
    return {
      itemThumbnail: []
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    })
  },
  mounted () {
    this.singleOrderItems.forEach(async item => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({ options: { sku: item.sku }, setCurrentProduct: false, setCurrentCategoryPath: false, selectDefaultVariant: false })
        const thumbnail = productThumbnailPath(product)
        Vue.set(this.itemThumbnail, item.sku, getThumbnailPath(thumbnail, 280, 280))
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);
$blue-7FA3DF: color(blue-7FA3DF);

table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    padding: 20px;

    @media (max-width: 1199px) {
      padding: 10px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    &.hide-on-xs {

      @media (max-width: 767px) {
        display: none;
      }

    }

    &.align-right {
      text-align: right;

      @media (max-width: 767px) {
        text-align: left;
      }

    }

  }

  tfoot {

    tr {
      @media (max-width: 767px) {
        display: block
      }

      &:last-child {
        td:last-child {
         padding-bottom: 20px
        }
      }

    }

    td {
      @media (max-width: 767px) {
        display: block
      }

      &:first-child {
        @media (max-width: 767px) {
          font-weight: 700;
          padding: 20px 20px 5px 20px;
        }
      }

      &:last-child {
        @media (max-width: 767px) {
          padding: 5px 20px 0 20px;
        }
      }

    }

  }

  i {
    vertical-align: middle;
  }

}
// table {
//   border-collapse: collapse;
//   width: 100%;

//   @media (max-width: 767px) {
//     border-top: none;
//   }

//   th, td {
//     text-align: left;
//     padding: 20px;

//     &.align-right {
//       text-align: right;

//       @media (max-width: 767px) {
//         text-align: left;
//       }

//     }

//     @media (max-width: 1199px) {
//       padding: 10px;
//     }

//   }

//   thead {
//     @media (max-width: 767px) {
//       display: none;
//     }
//   }

//   tbody {

//     tr {
//       @media (max-width: 767px) {
//         display: block
//       }
//     }

//     td {
//       @media (max-width: 767px) {
//         display: block;
//         text-align: left;
//         padding: 10px 20px;
//         &:before {
//           content: attr(data-th) ': ';
//           font-weight: 700;
//         }
//       }

//       &:first-child {
//         @media (max-width: 767px) {
//           padding: 20px 20px 10px 20px;
//         }
//       }

//       &:last-child {
//         @media (max-width: 767px) {
//           padding: 10px 20px 20px 20px;
//         }
//       }
//     }

//   }

//   tfoot {

//     tr {
//       @media (max-width: 767px) {
//         display: block
//       }

//       &:last-child {
//         td:last-child {
//          padding-bottom: 20px
//         }
//       }

//     }

//     td {
//       @media (max-width: 767px) {
//         display: block
//       }

//       &:first-child {
//         @media (max-width: 767px) {
//           font-weight: 700;
//           padding: 20px 20px 5px 20px;
//         }
//       }

//       &:last-child {
//         @media (max-width: 767px) {
//           padding: 5px 20px 0 20px;
//         }
//       }

//     }

//   }

//   i {
//     vertical-align: middle;
//   }

// }

a {
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $blue-7FA3DF;
  }

  &:hover {
    &:after {
      opacity: 0;
    }
  }
}

address {
  font-style: normal;
}

</style>
