<template>
  <div id="home">
    <!-- Main Slider Section -->
    <main-slider :banner-data="banner" />
    <!-- Recommended Products Section -->
    <section class="pt40 pb40 home-recommended-products-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xl-9 home-recommended-products-slider-wrap">
            <product-listing-slider class="shaded-box" :title="$t('Hello, Guest')" :sub-title="$t('Recommended Products')" :per-page-custom="[[0, ['auto', 15]], [768, [2, 15]], [992, [3, 25]], [1200, [4, 25]]]" :product-border-enabled="false" :limit="10" :pagination-enabled="false" :slider-id="'home-recommended-products'" />
          </div>
          <div class="col-md-4 col-xl-3 featured-items-sec">
            <product-listing-slider class="shaded-box" :title="$t('Featured Items')" :pagination-enabled="true" :product-border-enabled="false" :limit="5" :per-page-custom="[[0, [1, 0]], [576, [3, 15]], [768, [1, 0]]]" :slider-id="'home-featured-products'" :products-list="getFeaturedProducts()" />
          </div>
        </div>
      </div>
    </section>

    <!-- Recommended For You Only Section -->
    <section class="pb40 home-recommended-products-for-you-sec" v-show="isLoggedIn">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Recommended For You Only')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :slider-id="'home-recommended-products-for-you'" :pagination-enabled="false" />
      </div>
    </section>
    <!-- Top Ranked Categories Section -->
    <section class="pb40 home-top-ranked-products-sec">
      <div class="shaded-strip">
        <div class="container">
          <top-ranked-categories class="slider-spacing" :categories="getTopRankedCategories" :title="$t('Top Ranked Categories')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/hot-badge.svg'" />
        </div>
      </div>
    </section>

    <!-- Just Arrived Books Section -->
    <section class="pb40 home-just-arrived-products-sec">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Just Arrived Books')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/new-badge.svg'" :slider-id="'home-just-arrived-products'" :pagination-enabled="false" />
      </div>
    </section>

    <!-- Best Picked From Light Novel Section -->
    <section class="pb40 home-best-picked-products-sec">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Best Picked From Light Novel')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :slider-id="'home-best-picked-products'" :pagination-enabled="false" />
      </div>
    </section>

    <!-- Bestseller Products Section -->
    <section class="pb40 home-bestseller-products-sec">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Bestseller Products')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :badge="'assets/best-badge.svg'" :slider-id="'home-bestseller-products'" :pagination-enabled="false" />
      </div>
    </section>

    <!-- Fresh Selection From Artbook Section -->
    <section class="pb40 home-fresh-selection-products-sec">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Fresh Selection From Artbook')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :slider-id="'home-fresh-selection-products'" :pagination-enabled="false" />
      </div>
    </section>

    <!-- Suggested On Your Purchase History Section -->
    <section class="pb40 home-suggested-products-sec">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Suggested On Your Purchase History')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :slider-id="'home-suggested-products'" :pagination-enabled="false" />
      </div>
    </section>

    <!-- Recently Viewed Section -->
    <section class="pb40 home-recently-viewed-products-sec">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Recently Viewed')" :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 25]], [1200, [5, 25]]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" :slider-id="'home-recently-viewed-products'" :pagination-enabled="false" />
      </div>
    </section>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import ProductListing from 'theme/components/core/ProductListing'
// import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
import MainSlider from 'theme/components/core/blocks/MainSlider/MainSlider'
// Theme local components
// import Onboard from 'theme/components/theme/blocks/Home/Onboard'
// import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
// import TileLinks from 'theme/components/theme/blocks/TileLinks/TileLinks'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'
import TopRankedCategories from 'theme/components/core/blocks/Category/TopRankedCategories'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
export default {
  data () {
    return {
      loading: true,
      banner: [],
      products: [{}, []]
    }
  },
  mixins: [Home],
  components: {
    // HeadImage,
    // Onboard,
    // ProductListing,
    // PromotedOffers,
    // TileLinks,
    // LazyHydrate,
    MainSlider,
    ProductListingSlider,
    TopRankedCategories
  },
  async created () {
    await this.$store.dispatch('banner/list', {});
    this.banner = this.$store.getters['banner/getBannerList'] || [];
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    ...mapGetters('category', ['getCategories']),
    categories () {
      return this.getCategories
    },
    getTopRankedCategories () {
      return this.getCategories.filter(category => category.is_active && category.rank)
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  async mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')

    let newProductsQuery = prepareQuery({ queryConfig: 'products' });
    const newProductsResult = await this.$store.dispatch('product/list', {
      query: newProductsQuery
    });
    this.products =
      newProductsResult.items.length > 0 ? newProductsResult.items : [];
  },
  methods: {
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    getFeaturedProducts () {
      // TODO: replace the id in sorting with updated_at date after field is recieved from ES
      return this.products.filter(product => product.featured === '1').sort((a, b) => { return b.id - a.id }).slice(0, 5)
    }
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers')
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.home-recommended-products-sec {
  @media (max-width: 767px) {
    padding-top: 20px;
    overflow: hidden;
  }
}

.home-top-ranked-products-sec {
  @media (max-width: 767px) {
    padding-bottom: 20px;
  }
}
</style>
<style lang="scss">
.home-recently-viewed-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-bestseller-products-sec,
.home-best-picked-products-sec,
.home-just-arrived-products-sec,
.home-recommended-products-for-you-sec,
.home-recommended-products-sec {
  @media (max-width: 767px) {
    padding-bottom: 20px !important;

    & > .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.home-recently-viewed-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-bestseller-products-sec,
.home-best-picked-products-sec,
.home-just-arrived-products-sec,
.home-recommended-products-for-you-sec,
.home-recommended-products-slider-wrap {
  @media (max-width: 767px) {
    .swiper-slide {
      flex: 0 0 167px;
      max-width: 167px;
    }

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }

    .swiper-pagination {
      display: block !important;
    }

    .shaded-box {
      padding: 25px 15px;
      border-radius: 0;
    }
  }
}

.featured-items-sec {
  .shaded-box {
    padding-left: 42px;
    padding-right: 42px;

    @media (max-width: 767px) {
      padding: 30px 45px;
    }
  }
  .title-sec {
    margin-bottom: 44px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  .product {

    .btn-outlined,
    .btn-full,
    .product__icons,
    .product-tile-title {
      display: none;
    }
  }
  .product-listing-carousel-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-listing-carousel {
      flex-grow: 1;

      & > .relative {
        display: flex;
        flex-direction: column;
        height: 100%;

        .swiper-slider-wrap {
          flex-grow: 1;
        }
      }

      .swiper-container,
      .swiper-wrapper,
      .swiper-slide,
      .product,
      .product-link,
      .product-cover,
      .product-image {
        height: 100% !important;
      }

      .swiper-slide {
        .product-image {
          @media (max-width: 767px) {
            min-height: 475px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    margin-top: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
</style>
