<template>
  <div id="my_account">
    <div class="container pt45 pb70">
      <div class="flex account-row top-xs">
        <div class="mobile-menu hidden-md" @click="active" :class="{active: isActive}">
          <span>
            {{ mobileActiveMenuTxt }}
          </span>
        </div>
        <div class="account-menu block shaded-box mr40" :class="{active: isActive}">
          <nav class="static-menu">
            <ul class="m0 p0">
              <li v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                <router-link :to="localizedRoute(page.link)" @click.native="updateMobileMenuTxt(page.title)">
                  <span class="relative pl30 block">{{ page.title }}</span>
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="account-info w-100">
          <no-ssr>
            <component :is="this.$props.activeBlock" />
          </no-ssr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount'
import MyProfile from '../components/core/blocks/MyAccount/MyProfile'
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails'
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter'
import MyOrders from '../components/core/blocks/MyAccount/MyOrders'
import MyOrder from '../components/core/blocks/MyAccount/MyOrder'
import MyRecentlyViewed from '../components/core/blocks/MyAccount/MyRecentlyViewed'
import NoSSR from 'vue-no-ssr'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'

export default {
  data () {
    return {
      navigation: [
        { title: this.$t('My profile'), link: '/my-account' },
        { title: this.$t('Delivery Details'), link: '/my-account/shipping-details' },
        { title: this.$t('Newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('Order'), link: '/my-account/orders' },
        { title: this.$t('My Reward Points'), link: '#' },
        { title: this.$t('My Product Reviews'), link: '#' },
        { title: this.$t('Recently Viewed Products'), link: '/my-account/recently-viewed' }
      ],
      isActive: false,
      mobileActiveMenuTxt: this.$t('My profile')
    }
  },
  components: {
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    'no-ssr': NoSSR
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  mixins: [MyAccount],
  mounted () {
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.mobileActiveMenuTxt = nav.title;
      }
    });
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    active: function () {
      this.isActive = !this.isActive;
    },
    updateMobileMenuTxt (mobilemenutxt) {
      this.mobileActiveMenuTxt = mobilemenutxt;
      if (window.matchMedia('(max-width: 767px)').matches) {
        this.isActive = !this.isActive;
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);

.static-menu {
  ul {
    list-style: none;
  }

  a {
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-tertiary;
    }

    &:hover,
    &.router-link-exact-active {
      &:after {
        opacity: 0;
      }
    }
  }
}
</style>
