<template>
  <button
    v-if="type === 'next'"
    class="inline-flex between-xs w-100"
    type="button"
    @click.stop="next()"
    :aria-label="$t('Show subcategories')"
    data-testid="categoryButton"
  >
    {{ name }}
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
  <button
    v-else
    class="inline-flex w-100 middle-xs"
    type="button"
    @click.stop="back()"
    :aria-label="$t('Back')"
  >
    <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr15">
      <path d="M6.50002 1.4082L1.55027 6.35337L6.50002 11.2985" stroke="#333435" stroke-width="2" />
      <path d="M18.5 6.35376H2.50002" stroke="#333435" stroke-width="2" />
    </svg>
    {{ name }}
  </button>
</template>
<script>
import { mapState } from 'vuex'
import config from 'config'
export default {
  name: 'SubBtn',
  props: {
    id: {
      type: null,
      default: ''
    },
    type: {
      type: String,
      default: 'next'
    },
    name: {
      type: String,
      default: ''
    },
    isCategory: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapState({
      submenu: state => state.ui.submenu
    })
  },
  methods: {
    next () {
      if (config.entities.category.categoriesDynamicPrefetch && this.isCategory) this.$store.dispatch('category/list', { parent: this.id })
      this.$store.commit('ui/setSubmenu', {
        id: this.id,
        depth: ++this.submenu.depth
      })
    },
    back () {
      this.$store.commit('ui/setSubmenu', {
        depth: --this.submenu.depth
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);

button {
  border: 0 none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  padding: 22px 40px;

  @media (max-width: 1919px) {
    font-size: 18px;
    padding: 15px 30px;
  }

  svg {
    path {
      transition: all 0.5s ease 0s;
    }
  }

  i {
    color: $color-primary;
    font-size: 20px;
    line-height: 24px;
    transform: translateX(0);
    transition: all 0.5s ease 0s;
  }
  &:hover,
  &:focus {
    svg {
      path {
        stroke: $color-secondary;
      }
    }
    i {
      color: $color-secondary;
      transform: translateX(10px);
    }
  }
}
</style>
