<template>
  <div
    class="microcart cl-primary relative"
    data-testid="microcart"
  >
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="sidebar-close">
      <img src="~theme/assets/sidebar-close.svg" alt="Close" @click="closeMicrocartExtend" data-testid="closeMicrocart">
    </div>
    <div class="sidebar-title">
      <h2>
        {{ $t('Shopping Cart') }}
      </h2>
      <clear-cart-button v-if="productsInCart.length" @click.native="clearCart" />
    </div>

    <div class="floating-cart-empty" v-if="!productsInCart.length">
      <h4>
        {{ $t('Your shopping cart is empty.') }}
      </h4>
      <div @click="closeMicrocartExtend">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
    </div>
    <div class="product-list-wrap">
      <div class="eligible-free-gift-notification">
        <img src="/assets/tick-green.svg" alt="Eligible for free gift(s)" class="mr10">
        {{ $t('You are eligible for free gift(s)') }}
      </div>
      <ul v-if="productsInCart.length" class="product-list">
        <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      </ul>
      <div class="mt30 flex end-xs">
        <button class="btn-secondary btn-fill" type="button">
          {{ $t('ADD FREE GIFT') }}
        </button>
      </div>
    </div>

    <div class="summary-wrap">
      <div v-if="productsInCart.length" class="summary">
        <h3 class="h1 summary-heading">
          {{ $t('Shopping Summary') }}
        </h3>
        <div v-if="OnlineOnly" class="use-reward-points-sec">
          <label class="h2 block">{{ $t('Use Reward Points') }}</label>
          <p>{{ $t('You have ') }} <strong>{{ $t('324') }}</strong> {{ $t('reward points available.') }}</p>
          <div class="coupon-wrapper">
            <div class="coupon-input">
              <base-input type="text" id="rewardinput" :placeholder="$t('Enter amount of points to spend')" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
            </div>
            <button-outline class="btn-secondary btn-fill" color="dark" :disabled="!couponCode" @click.native="setCoupon">
              {{ $t('APPLY POINTS') }}
            </button-outline>
          </div>
        </div>
        <div v-if="OnlineOnly" class="discount-coupon-sec">
          <label class="h2 block">{{ $t('Add a discount code') }}</label>
          <div class="coupon-wrapper">
            <div class="coupon-input">
              <base-input type="text" id="couponinput" :placeholder="$t('Enter discount code')" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
            </div>
            <button-outline class="btn-secondary btn-fill" color="dark" :disabled="!couponCode" @click.native="setCoupon">
              {{ $t('APPLY') }}
            </button-outline>
          </div>
        </div>
        <div v-for="(segment, index) in totals" :key="index" class="row py15 weight-500 cl-gray-666666" v-if="segment.code !== 'grand_total'">
          <div class="col-xs">
            {{ segment.title }}
            <button v-if="appliedCoupon && segment.code === 'discount'" type="button" class="p0 brdr-none bg-cl-transparent close delete-button ml10" @click="clearCoupon">
              <i class="material-icons cl-accent">
                close
              </i>
            </button>
          </div>
          <div v-if="segment.value != null" class="col-xs align-right">
            {{ segment.value | price(storeView) }}
          </div>
        </div>

        <div class="row pt15 pb40 weight-700 middle-xs" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
          <div class="col-xs h4 total-price-label m0">
            {{ segment.title }}
          </div>
          <div class="col-xs align-right h1 total-price-value m0">
            {{ segment.value | price(storeView) }}
          </div>
        </div>
      </div>

      <div
        class="actions"
        v-if="productsInCart.length && !isCheckoutMode"
      >
        <router-link :to="localizedRoute('/')" class="no-underline">
          <span @click="closeMicrocartExtend">
            {{ $t('Return to Shopping') }}
          </span>
        </router-link>
        <button-full
          :link="{ name: 'checkout' }"
          @click.native="closeMicrocartExtend"
        >
          {{ $t('GO TO CHECKOUT') }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import { registerModule } from '@vue-storefront/core/lib/modules'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'
import { InstantCheckoutModule } from 'src/modules/instant-checkout'

export default {
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false,
      isInstantCheckoutRegistered: isModuleRegistered('InstantCheckoutModule')
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  beforeCreate () {
    registerModule(InstantCheckoutModule)
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen'
    }),
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('<img class="mb40" src="/assets/red-close.svg" alt="Warninig" /><h2 class="notification-title">Are you sure?</h2>Do you really want to delete these records? This process cannot be undone.'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('Delete'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~theme/css/animations/transitions";
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-secondary: color(secondary);
  $gray-FAFAFA: color(gray-FAFAFA);
  $gray-A3A3A3: color(gray-A3A3A3);
  $gray-E5E5E5: color(gray-E5E5E5);
  $yellow-F5BE77: color(yellow-F5BE77);
  $white: color(white);

  .mt0 {
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  .clearcart {
    &-col {
      display: flex;
      align-self: center;
    }
  }

  .products {
    @media (max-width: 767px) {
      padding: 30px 15px;
    }
  }

  .actions {
    @media (max-width: 767px) {
      padding: 0 15px;
    }
    .link {
      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        padding: 20px 70px;
        &.checkout {
          margin-top: 55px;
          padding: 0;
        }
      }
    }
  }

  .summary {
    @media (max-width: 767px) {
      padding:  0 15px;
      font-size: 12px;
    }
  }

  .summary-heading {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .total-price-label {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .total-price-value {
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  .delete-button {
    vertical-align: middle;
  }

  .coupon-wrapper {
    display: flex;

    .button-outline {
      border-color: $yellow-F5BE77;
      background-color: $yellow-F5BE77;
      color: $white;
      min-width: 162px;
      padding: 13px 10px;

      &.dark:hover, &.dark:focus {
        border-color: $yellow-F5BE77;
        background-color: $yellow-F5BE77;
        color: $white;
        opacity: 0.6;
      }
    }

    .coupon-input {
      margin-right: 30px;
      width: 100%;
    }
  }

  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    height: 100%;
    background:rgba(0, 0, 0, 0.4);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .microcart {
    .sidebar-title {
      padding-top: 40px;
      margin-left: 40px;
      margin-right: 40px;
    }

    .floating-cart-empty {
      padding: 0 40px 40px;
    }

    .product-list-wrap {
      padding: 0 40px 40px;
    }
  }

  .eligible-free-gift-notification {
    border: 1px solid rgba($color-secondary, 0.4);
    background-color: rgba($color-secondary, 0.04);
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
  }

  .summary-wrap {
    background-color: $gray-FAFAFA;
    padding: 40px;

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > a {
        margin-left: 30px;
        font-size: 14px;
        font-weight: 700;

        &:first-child {
          margin-left: 0;
        }

        &.btn-full {
          width: auto;
          padding: 14px 10px;
          min-width: 200px;
        }
      }
    }
  }

  .summary-heading {
    margin-bottom: 40px;
  }

  .discount-coupon-sec {
    margin-bottom: 25px;
  }

  .use-reward-points-sec {
    margin-bottom: 40px;
  }
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-A3A3A3: color(gray-A3A3A3);
$gray-E5E5E5: color(gray-E5E5E5);

.coupon-input {
  input[type="text"] {
    border-bottom: 1px solid $gray-E5E5E5;
    color: $gray-A3A3A3;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
  }
}
.microcart {
  .product-quantity-wrap {
    .product-quantity-label {
      display: none;
    }
  }
}
</style>
