@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$gray-333435: color(gray-333435);
$gray-666666: color(gray-666666);
$gray-888888: color(gray-888888);
.display-none{
    display:none;
}
.details {
    @media (max-width: 767px) {
      padding: 50px 15px 15px;
    }
}
#product{
    .product-offers {
        .price-special,
        .price-regular{
            font-size: 22px;
            font-weight: 700;
            color: #67B6C3;
            margin: 0;
        }

        .price-original {
            font-size: 16px;
            font-weight: 400;
            color: $gray-888888;
        }
    }
    .product-quantity-wrap{
        display: flex;
        align-items: center;
    }
    .reviews{
        .btn-full{
            width: auto;
            padding: 14px 30px;
        }
    }
}
.details-title {
    padding: 0 8px;
    border-top: 1px solid $gray-D8D8D8;
    border-bottom: 1px solid $gray-D8D8D8;
    text-transform: uppercase;
    background: url(/assets/plus.png) no-repeat right center;
    text-align: center;
    padding: 18px 0;
    margin-top: -1px;
    @media (max-width: 767px) {
      font-size: 18px;
      margin: 0;
    }

    &.minus {
        background: url(/assets/minus.png) no-repeat right center;
    }
}
.cart-with-price{
    .btn-full{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 220px;
    }
    .btn-outlined{
        width: auto;
        margin-left: 8px;
        padding-left: 20px;
        padding-right: 20px;
        min-width: 220px;
    }
}
.details-wrapper{
    max-width: 700px;
    margin: 25px auto 40px;
    .attributes{
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: $gray-888888;
        max-width: 310px;
        margin: 0 auto;
        li{
            font-size: 14px;
            color: $gray-666666;
            padding: 10px 10px;
            border-bottom: solid 1px $gray-D8D8D8;
            display: flex;
            font-weight: 500;
            line-height: 1.4;
            margin: 0;
            span{
                &:nth-child(1){
                    color: $gray-666666;
                    font-weight: 500;
                    min-width: 130px;
                    position: relative;
                    &:after{
                        content: ':';
                        display: inline-block;
                        position: absolute;
                        right: 0;

                    }
                }
                &.weight-700{
                    font-weight: 500;
                    color: $gray-333435;
                    padding-left: 10px;
                }
            }
        }
    }
    .description{
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: $gray-888888;
        p{
            text-align: center;
        }
    }
}

.reviews{
    .details-wrapper{
        h2{
            text-transform: uppercase;
            text-align: center;
        }
        label{
            font-size: 14px;
        }
        .buttons{
            span{
                font-size: 14px;
            }
        }
    }
}