<template>
  <button class="clear-btn brdr-none bg-cl-transparent p0 middle-xs inline-flex cl-primary weight-400 h4 sans-serif fs-medium" @click="$emit('click')">
    <span class="clearcart-btn">
      <i class="material-icons mr5">
        cancel
      </i>
      {{ $t('Clear Favorite') }}
    </span>
  </button>
</template>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);

  .clearcart {
    &-btn {
      display: flex;
      align-items: center;
      i {
        font-size: 17px;
      }
    }
  }

  .clear-btn {
    margin: 0;
    color: $gray-666666;
    font-weight: 500;
    font-size: 12px;

    &:hover {
      color: $color-secondary;
    }
  }
</style>
