.inline-flex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.center-self {
  align-self: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.border-box {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.w-50 {
  width: 50%;
}

.mw-100 {
  max-width: 100%
}
