<template>
  <div class="minusplusnumber">
    <div class="mpbtn minus" @click="mpminus()">
      <img src="/assets/minus.svg" alt="Minus">
    </div>
    <div id="field_container">
      <label class="base-input-number__label cl-primary flex" :for="getInputId">{{ name }}</label>
      <input
        :id="getInputId"
        type="number"
        :min="min"
        :max="max"
        disabled="disabled"
        class="m0 no-outline base-input-number__input brdr-cl-primary bg-cl-transparent"
        :focus="autofocus"
        v-model="newValue"
        @blur="$emit('blur', $event.target.value)"
      >
    </div>
    <div class="mpbtn plus" @click="mpplus()">
      <img src="/assets/plus.svg" alt="Plus">
    </div>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'
export default {
  name: 'BaseInput',
  components: {
    ValidationMessages
  },
  props: {
    value: {
      type: [String, Number],
      default: 0
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false
    },
    autofocus: {
      type: Boolean,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    },
    onlyPositive: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      newValue: 0
    }
  },
  computed: {
    getInputId () {
      return `input_${this._uid}`
    },
    inputValue: {
      get () {
        return this.value
      }
    }
  },
  methods: {
    mpplus () {
      if (this.max === undefined || (this.newValue < this.max)) {
        this.newValue = this.newValue + 1;
        this.$emit('input', this.newValue);
      }
    },
    mpminus () {
      if ((this.newValue) > this.min) {
        this.newValue = this.newValue - 1;
        this.$emit('input', this.newValue);
      }
    }
  },
  watch: {
    value: {
      handler: function (newVal, oldVal) {
        this.newValue = newVal;
      }
    }
  },
  created () {
    this.newValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-DDDDDD: color(gray-DDDDDD);

.base-input-number__label {
  display: none;
}
.minusplusnumber {
  border:1px solid $gray-DDDDDD;
  border-radius:6px;
  background-color: transparent;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
}
.minusplusnumber #field_container input {
  width:40px;
  text-align:center;
  font-size:14px;
  font-weight: 700;
  padding:3px;
  border:none;
  height: 43px;
  line-height: 43px;
}
.minusplusnumber .mpbtn {
  padding:3px 15px;
  cursor:pointer;
  border-radius:6px;
  line-height: 1;
  font-size: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
