<template>
  <section class="main-slider w-100 bg-cl-white cl-white">
    <no-ssr>
      <carousel
        :per-page="1"
        :per-page-custom="[[768, 2], [1200, 3]]"
        :navigation-enabled="true"
        navigation-prev-label="<img src='assets/rounded-arrow-left.svg' alt='Left Arrow'>"
        navigation-next-label="<img src='assets/rounded-arrow-right.svg' alt='Right Arrow'>"
        :pagination-enabled="false"
        pagination-active-color="#ffffff"
        pagination-color="#e0e0e0"
      >
        <slide v-for="(slide, index) in bannerData" :key="index">
          <div class="slide-wrap w-100">
            <img :src="slide.image" :alt="slide.title" class="object-cover">
            <div class="main-slider-btn-wrap">
              <router-link :to="localizedRoute(slide.link)" :title="slide.title" class="no-underline main-slider-btn">
                {{ slide.title }}
                <img class="ml10" src="assets/right-arrow-white.svg" alt="Right Arrow">
              </router-link>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import sliderData from 'theme/resource/slider.json'

export default {
  props: {
    bannerData: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1
    }
  },
  components: {
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  methods: {
    updateSliderData (data) {
      this.slides = data.slides
      this.totalSlides = data.total
    }
  },
  mounted () {
    setInterval(() => {
      this.currentSlide = (this.currentSlide + 1) % (this.totalSlides)
    }, 5000)
  },
  created () {
    this.updateSliderData(sliderData)
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);

.main-slider {
  .VueCarousel-inner {
    margin: 0 -0.5px;
  }

  .VueCarousel-slide {
    padding: 0 0.5px;
  }

  .VueCarousel-navigation-button {
    width: 42px;
    height: 42px;
    margin: 0 !important;
    padding: 0 !important;

    @media (max-width: 767px) {
      width: 35px;
      height: 35px;
    }

    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(25px);
    }

    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(-25px);
    }

    &.VueCarousel-navigation--disabled {
      opacity: 0.5;
    }

    &.VueCarousel-navigation-button:focus {
      outline: 0 none;
    }
  }

  .VueCarousel-pagination {
    position: absolute;
    bottom: 15px;
  }
  .VueCarousel-dot--active .VueCarousel-dot-inner {
    border: 2px solid $color-white;
    margin-top: -2px;
  }

  .main-slider-btn-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 15px;
    text-align: center;
  }
}
</style>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

h1 {
  font-size: 72px;
}
.slide-wrap {
  // height: 350px;
  position: relative;

  & > img {
    display: block;
  }
}

.main-slider-btn {
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: rgba($color-primary, 0.9);
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 11px 51px;

  @media (max-width: 767px) {
    font-size: 10px;
    padding: 6px 26px;

    img {
      width: 5px;
    }
  }

  &:hover {
    background-color: rgba($color-secondary, 0.9);
  }
}
</style>
