<template>
  <div class="product-thumb-slider">
    <div class="thumb-slider-left">
      <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" @click-slide="onSwiperThumbsClick">
        <swiper-slide class="product-thumb-item" v-for="(images, index) in gallery" :key="images.src" :class="{ 'current-slide' : currentThumbSlide === index }">
          <product-image
            :image="images"
            :alt="productName | htmlDecode"
          />
        </swiper-slide>
      </swiper>
    </div>
    <div class="thumb-slider-right">
      <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
        <swiper-slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <product-image
              v-show="hideImageAtIndex !== index"
              class="pointer image"
              :image="images"
              :alt="productName | htmlDecode"
            />
            <product-video
              v-if="images.video && (index === currentPage)"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import reduce from 'lodash-es/reduce'
import map from 'lodash-es/map'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

export default {
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  data () {
    let current = this
    return {
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      swiperOptionTop: {
        spaceBetween: 0,
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
          }
        }
      },
      swiperOptionThumbs: {
        direction: 'vertical',
        spaceBetween: 10,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      }
    }
  },
  computed: {
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    }
  },
  mounted () {
    this.$emit('loaded')
  },
  methods: {
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);

.product-thumb-slider {
  display: flex;
  overflow: hidden;
  max-height: 600px;

  .thumb-slider-right {
    border: 0 none;
    background-color: $color-white;
    flex: 0 0 calc(100% - 90px);
    max-width: calc(100% - 90px);
  }

  .thumb-slider-left {
    padding-right: 10px;
    flex: 0 0 90px;
    max-width: 90px;

    .swiper-container {
      height: 100%;

      .swiper-slide {
        flex-grow: 0;
        flex-shrink: 1;

        &.current-slide {
          .product-image {
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $color-secondary;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
</style>
