<template>
  <div class="header">
    <header
      class="fixed w-100 bg-cl-secondary site-header"
      :class="{ 'is-visible': navVisible }"
      id="site-header"
    >
      <div class="top-header">
        <div class="container">
          <div class="row between-xs middle-xs">
            <div class="col-xs-6 col-md-4 col-lg-3 flex middle-xs py10">
              <hamburger-icon class="pointer mr15" />
              <logo width="auto" height="auto" />
            </div>
            <div class="col-lg-6 col-xs-2 end-xs top-search-input" id="top-search-input">
              <search-icons />
            </div>
            <div class="col-xs-2 col-md-4 col-lg-3 flex end-xs px15 user-actions-wrap">
              <div class="flex center-xs user-actions">
                <div class="btn-wrap flex middle-xs center-xs">
                  <wishlist-icon class="icon pointer" />
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <account-icon class="icon pointer" />
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <microcart-icon class="icon pointer" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-header hidden-lg">
        <div class="container">
          <div class="flex between-xs">
            <!-- <category-menu :categories="categories" /> -->
            <div>
              <div class="menu-header-links relative">
                <ul v-if="menuLinks.length > 0" class="flex menu-links p0 m0">
                  <li
                    class="menu-item"
                    v-for="(menuLink, index) of menuLinks"
                    :key="index"
                  >
                    <router-link
                      class="main-menu-link menu-link"
                      data-testid="categoryButton"
                      :to="menuLink"
                    >
                      {{ menuLink }}
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
            <div class="points-btn">
              {{ $t('Your Points:') }} <span>{{ $t('250') }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-placeholder" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
// import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcons from 'theme/components/core/blocks/Header/SearchIcons'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
// import CategoryMenu from './CategoryMenu';
import headerMenuData from 'theme/resource/home/home.json'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    // CompareIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcons,
    WishlistIcon
    // CategoryMenu
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 130,
      menuLinks: [],
      visibleProducts: []
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current,
      categoryList: state => state.category.list
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    },
    categories () {
      let filteredCategory = this.categoryList.filter(
        category => category.include_in_menu === 1 && category.parent_id === 2
      );
      return filteredCategory;
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  created () {
    this.updateMenuData(headerMenuData);
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    },
    updateMenuData (data) {
      this.menuLinks = data.menuLinks
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$gray-666666: color(gray-666666);
$pink-EB8097: color(pink-EB8097);

header {
  height: 135px;
  top: -136px;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  &.is-visible {
    top: 0;
  }

  @media (max-width: 1200px) {
    height: 71px;
    top: -72px;
  }
}
.right-icons {
  //for edge
  float: right;
}
.header-placeholder {
  height: 135px;

  @media (max-width: 1200px) {
    height: 71px;
  }
}
.links {
  text-decoration: underline;
}
.top-header {
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.user-actions {
  border-left: 1px solid rgba(255,255,255,0.15);
  .btn-wrap {
    border-right: 1px solid rgba(255,255,255,0.15);
    flex-grow: 1;
    flex-basis: 0;
    button {
      padding: 13px 10px;
      @media (max-width: 991px) {
        padding: 10px;
      }
    }
  }
}

.points-btn {
  margin: 10px 0 10px 15px;
  background-color: $white;
  color: $gray-666666;
  border-radius: 6px;
  overflow: hidden;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 500;

  span {
    font-weight: 700;
    color: $pink-EB8097;
  }
}

.menu-header-links {
  ul.menu-links {
    li.menu-item {
      list-style: none;
      margin-left: 17px;
      margin-right: 17px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a.menu-link {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;

        &::after {
          content: "";
          position: absolute;
          bottom: 11px;
          left: -8px;
          right: -8px;
          height: 2px;
          background-color: $white;
          transform: scale(0);
          transition: all 0.3s ease 0s;
        }

        &.router-link-exact-active,
        &:hover {
          color: $white;

          &::after {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.bottom-header {
  @media (max-width: 1200px) {
    display: none;
  }
}

.user-actions-wrap {
  @media (max-width: 991px) {
    flex-basis: auto;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.top-search-input {
  @media (max-width: 991px) {
    flex-basis: auto;
    max-width: 100%;
    padding: 0;
    margin-left: auto;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);

.icon {
  svg {
    circle,
    path {
      transition: all 0.5s ease 0s;
    }
  }
  &:hover,
  &:focus {
    svg {
      circle,
      path {
        fill-opacity: 1;
      }
    }
  }
}
</style>
