<template>
  <div class="relative">
    <div class="hidden visible-lg">
      <div class="search-group flex">
        <label class="hidden" for="header-search">{{ $t('Search') }}</label>
        <input
          id="header-search"
          class="search-input f-s-14 weight-500"
          :placeholder="$t('Search here')"
          type="search"
          v-model="search"
          @input="makeSearch(), openSearchModal()"
          @keyup.enter="openSearchModal"
          @keyup.esc="closeSearchModal"
        >
        <button class="btn-search" type="button" @click="openSearchModal" @keyup.esc="closeSearchModal">
          <img src="~theme/assets/search.svg" alt="Search" class="search-icons">
          <span class="ml10 f-s-14 cl-white weight-500 block">{{ $t('Search') }}</span>
        </button>
      </div>
    </div>
    <div class="visible hidden-lg flex middle-xs mobile-search-btn">
      <button
        type="button"
        class="bg-cl-transparent brdr-none"
        @click="toggleSearchpanel"
      >
        <img src="~theme/assets/search-mobile.svg" alt="Search" class="search-icons block">
        <span class="mt5 f-s-12 cl-white weight-500 block nowrap">{{ $t('Search') }}</span>
      </button>
    </div>
    <div class="overlay fixed w-100" @click="closeSearchModal" v-if="isVisible" />
    <div class="search-lists bg-cl-white absolute w-100">
      <search-result :search-result="visibleProducts" />
    </div>
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'
import SearchResult from './SearchResults'

export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false
    };
  },
  watch: {
    $route (to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchModal () {
      this.isVisible = true;
      this.isSeachBoxOpen = true;
      this.$bus.$emit('modal-show', 'modal-search-results');
      this.$store.commit('ui/setOverlay', false);
    },
    closeSearchModal () {
      this.isVisible = false;
      this.isSeachBoxOpen = false;
      this.$bus.$emit('modal-hide', 'modal-search-results');
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);

.search-lists {
  .modal-backdrop {
    display: none;
  }
}
</style>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$white: color(white);
$color-primary: color(primary);
$color-secondary: color(secondary);

.search-group {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  border: 1px solid $white;
  background-color: $white;
  position: relative;
  z-index: 5;

  input {
    border: 0 none;
    height: 40px;
    line-height: 40px;
    // color: $gray-D8D8D8;
    padding: 10px 16px;
    margin: 0;
    flex-grow: 1;
    flex-basis: 0;
    appearance: none;
    line-height: 18px;

    &:focus {
      outline: 0 none;
    }
  }

  .btn-search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    background-color: $color-secondary;
    width: 97px;
    border: 0 none;
  }
}
.search-lists {
  border-radius: 6px;
  overflow: hidden;
  z-index: 4;
  color: $color-primary;
}
.mobile-search-btn {
  @media (max-width: 991px) {
    border-left: 1px solid rgba($white, 0.15);
    padding: 13px 10px;
    height: 100%;
    button {
      padding: 0;
    }
    .search-icons {
      display: block;
      margin: 0 auto;
    }
  }
}
</style>
